{% extends 'base.html' %}

{% block content %}
    <div class="breadcrumb-area pt-35 pb-35 bg-gray">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <ul>
                    <li>
                        <a href="/">Главная</a>
                    </li>
                    <li class="active">Оформить</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="checkout-main-area pt-70 pb-70">
        <div class="container" style="text-align: center;">
            <h1>Ваш заказ оформлен. В ближайшее время наши специалисты свяжутся с Вами!</h1>
        </div>
    </div>
{% endblock %}